
.center-div{
width: 70%;
}

.left-wrap{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-wrap{
  width: 50%;
  background: #e6e8e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-detalle{
  width: 40%;
  height: auto;

}

.small-pictures{
  display: flex;
  justify-content: center;
}

.picture{
  width: 17%;
  height: auto;
  border-radius: 10px;
  margin: 0px 10px 0 0;
  cursor: pointer;
}

.p-product {
  letter-spacing: 1.5px;
  color: #000;
}

.precio{
  font-size: 18px;
  margin-top:30px;
}

.detalle{
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
}

.p-product-description{
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #495057;
  font-size: 14px;
}

.btnCart{
  width: 40%;
  padding: 1rem 1rem;
  background-color: #000;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: .3s;
  margin-right: 5%;
  margin-top: 10px;
  transition: all 450ms ease;
    margin-top: 110px;
}

.btnCart:hover {
    background: rgb(46, 46, 46);
    color: white;
  }
