

 

/* links categorias*/

.popular{
    display: inline-block;
}

.categories{
    grid-row: 3/6;
}
.Link{
    text-decoration: none;
    color: black;
    height: 20px;
    font-size: 14px;
}
.filterLinks{
    width: 50%;
    position: relative;
  display: flex;
  margin-left: 20px;
 
}
.linkCate{
    line-height: 30px;
    margin-right: 20px;
    
}
.linkCate:hover{
    opacity: .4;
}

.homeCategory{
    margin-left: 20px;
    font-size: 12px;
    position: relative;
  
}
.home{
    color: black;
}
.home:hover{
    opacity: .4;
}
.categoryWrapp{
    display: flex;
  position: absolute;
  bottom: 6px;


}


