.item-container{
    font-weight: 600;
    font-size: 18px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: -1;
   
}

 .sweet-loading{
    margin: 25%;
}