
.item-card{
width: 300px;
margin: 30px;
box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
border-radius: 6px;
cursor: pointer;
transition: ease all 0.3s;
}

/* .item-card :hover{
    opacity: 0.6;
} */

.item-photo{
height: 250px;
position: relative;
}

.item-photo img{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}

.heart-button{
    position: absolute;
    top: 7%;
    right: 8%;
    font-size: 24px;
    cursor: pointer;
    transition: ease all 0.3s;
}
.heart-button :hover{
    opacity: 0.6;
    
}

.item-price{
    position: absolute;
    right: 75%;
    bottom: 0;
    font-size: 15px;
}

.item-category{
    margin-bottom: 5px;
}

.item-detail{
font-size: 15px;
font-weight: 200;
margin-bottom: 5px;
}

.button-detail{
    width: 190px;
    height: 40px;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 10px;
}

.button-detail:hover{
    opacity: 0.6;
}
